extends ../layout

block css
  link(rel='stylesheet', href='/stylesheets/less/error/error.css')
  link(rel='stylesheet', href='/stylesheets/less/medicosEstudio/lista.css')

block nav
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
      span.sr-only toogle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') Secretaría de salud
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-home
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-cogs
          |   Operaciones
          b.caret
        ul.dropdown-menu
          li
            a(href="/medicos")
              i.fa.fa-floppy-o
              |  Guardar médico
          li
            a(href="/medicos/busqueda")
              i.fa.fa-search
              |  Buscar médico
          li.active
            a()
              i.fa.fa-list
              |  Lista en estudio
          li
            a(href="/denuncias/medicos")
              i.fa.fa-gavel
              |  Denuncias de medicos
       li#session_Close
        a(href="#") 
          i.fa.fa-sign-out
          |  Cerrar sesión
block content
  .container.general
    .row
      .col-lg-12
        .col-lg-4
          img.img-rounded(src="/images/lista.png", alt="")
        .col-lg-8
          h4 Lista de médicos en estudio
          if (medicos)
            table.table.table-bordered.table-info
              thead
                tr
                  th 
                  th Identificación
                  th Nombre
                  th Fecha
                  each val in medicos
                    tr
                      td
                        input(type="radio" name="ident" value="#{val.identificacion}")
                      td #{val.identificacion}
                      td #{val.nombres} #{val.apellidos.primero} #{val.apellidos.segundo}
                      td #{moment(val.fechaRegistro).format('DD-MM-YYYY-HH:mm:ss')}
            table.table-botones
                tr
                  td
                  td
                    input.btn.btn-primary(type="button" id="ver" value="Cargar")
                  td
                    input.btn.btn-default(type="button" id="atras" value="Atras")
                  td
          else
            .alert-info.info-estudio
              p No se ecuentran registros de médicos en estado de estudio


block js
  script.
    $(document).on('ready', function(){

        $('#atras').click(function(){
            window.location.href="/";
          });

        $('#ver').click(function(){
          var ident=$("input[name='ident']:checked").val();
          if(ident!=undefined){
            window.location.href='/medicos/'+ident;
          }else{
            alert('Seleccione un médico de la lista');
          }
        });

        $('#session_Close').on('click', function(e){
          e.preventDefault();
            $.ajax({
              url:"/session/admin",
              method:"delete",
              success: function(data){
                if(data=="OK"){
                  window.location.href = '/';
                }
              }
            });
        });
    });